# Compiti per il 14/10/2024
## Esercizi
    1)Crea un vettore nullo di dimensione 10 ma con il quinto valore uguale a 1. 
    2)Crea un vettore con valori compresi tra 10 e 49. 
    3)Crea una funzione che inverta un vettore (il primo elemento diventa l'ultimo). 
    4)Trova gli indici degli elementi diversi da zero in [1,2,0,0,4,0]. 
    5)Crea un vettore casuale di dimensione 10 e sostituisci il valore massimo con 0. 
    6)Dato n, crea l'array [1,2,3,...,n,1,2,3,...,n].

### Esercizio 1

In [15]:
import numpy as np

dim = 10

array_null = np.empty(dim)
array_null[4] = 1
array_null

array([2.51968509e-316, 0.00000000e+000, 2.11236209e+262, 7.49363265e+247,
       1.00000000e+000, 4.36310559e+198, 1.10259191e+155, 4.78152771e-091,
       2.42766817e-154, 3.64913061e+233])

## Esercizio 2
tutti i valori fino a 49

In [17]:
array_comprehension = np.arange(10, 50)
array_comprehension

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

## Esercizio 2
valori random tra 10 e 49

In [22]:
array_random_2_49 = np.random.randint(10, 50, dim)
array_random_2_49

array([29, 18, 21, 18, 41, 20, 26, 39, 36, 32])

## Esercizio 3

In [31]:
def invert_array(array_to_invert):
    return np.flip(array_to_invert)

In [33]:
invert_array(array_random_2_49)

array([32, 36, 39, 26, 20, 41, 18, 21, 18, 29])

## Esercizio 4

In [34]:
zeros_to_find = np.array([1,2,0,0,4,0])
zeros_to_find

array([1, 2, 0, 0, 4, 0])

In [39]:
indexes_of_zero = zeros_to_find == 0
result = []
for i,j in enumerate(indexes_of_zero):
    if j: result.append(i)
result

[2, 3, 5]

## Esercizio 5
5)Crea un vettore casuale di dimensione 10 e sostituisci il valore massimo con 0.

In [61]:
dim = 10
casualt_vector = np.random.randint(0, 100, dim)
casualt_vector

array([82, 65, 61, 52, 39, 70, 86, 96, 44, 16])

In [62]:
casualt_vector[np.argmax(casualt_vector)] = 0
casualt_vector

array([82, 65, 61, 52, 39, 70, 86,  0, 44, 16])

## Esercizio 6
Dato n, crea l'array [1,2,3,...,n,1,2,3,...,n].

In [70]:
n = 30
list_to_n = np.arange(1, n+1)
list_to_n = np.append(list_to_n, np.arange(1, n+1))
list_to_n

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30,  1,  2,  3,  4,
        5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29, 30])